$color-group-1a: #006064;
$color-group-1b: #00838F;
$color-group-1c: #00ACC1;
$color-group-1d: #26C6DA;
$color-group-1e: #80DEEA;

$color-group-2a: #03A9F4;
$color-group-2b: #4FC3F7;

$color-group-3a: #455A64;
$color-group-3b: #546E7A;
$color-group-3c: #90A4AE;
$color-group-3d: #CFD8DC;

$color-primary: #F57C00;
$color-secondary: #2962FF;
$color-tertiary: #FFFF00;

$color-white: #FFFFFF;
$color-black: #000000;
